<template>
  <div class="filelist-wrap">
      <div class="list-outer-container pr">
            <ul class="list-inner-container">
                <li class="list-item ib"
                    v-for="(item, index) in articlelist"
                    :key="index">
                    <a href="javascript:;" class="ib wf" @click.stop="viewFile(item)">
                        <div class="thumbnail">
                            <div class="doc-style"></div>
                            <div class="info tc ellipsis">{{item.filename}}</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
  </div>
</template>


<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                articlelist: []
            }
        },
        created(){
            this._loadData()
        },
        methods: {
            viewFile(item) {
                this.$router.push({
					name: 'mafile',
					params: {
					},
					query: {
						folderid: this.$route.query.folderid,
						foldername: this.$route.query.foldername,
						fileid: item.fileid,
						files: this.$route.query.files
					}
				})
            },
            async _loadData() {
                try{
                    const res = await axios.get(`http://api.liujack.com/blog/file`, {
                       params: {folderid: this.$route.query.folderid}
                    })
                    if (res.status === 200) {
                        this.articlelist = res.data.data
                    } else {
                        this.$Message.error('获取数据失败')
                    }
                } catch(e) {console.log(e)}
			}
        }
    }
</script>

<style scoped lang="less">
    .filelist-wrap{
        .list-outer-container{
            padding: 20px;
            .list-inner-container{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                .list-item{
                    margin-right: 0.3rem;
                }
                .doc-style{
                    width: 2rem;
                    height: 2rem;
                    background-size: 97%;
                }
                .info{
                    font-size: 0.24rem;
                    color: #000;
                    height: 0.36rem;
                    width: 2rem;
                    overflow: hidden;
                }
            }
        }
    }
</style>
