<template>
	<div class="file-wrap">
		<a-container ref="container" mobile="1">
			<div class="content-wrap hf wf"> 
				<div>
					<edit-article 
						:title="currentArticleName" 
						mode="edit"
						v-if="content.length"
						:content="content">
					</edit-article>
				</div>
			</div>
		</a-container>
	</div>
</template>



<script>
	import aContainer from '../../components/acontainer'
	import Bus from '../../components/bus'
	import EditArticle from '../../components/edit-article'
	import axios from 'axios'

	export default {
		name: 'afile',
		data() {
			return {
				HTMLContent: ``,
				renderflag: true,
				dropmenuFlag: false,
				currentFolderName: '',
				currentArticleName: '',
				content: [],
				dropmenulist: [
					{

					}
				]
			}
		},
		components: {
			aContainer,
			EditArticle
		},
		computed: {
			dropdownMenuClasses() {
				return {
					['slideInTop']: this.dropmenuFlag,
					['']: !this.dropmenuFlag && !this.renderflag,
				}
			},
			showSlideBarFlag() {
            	return Bus.directoryFlag
            }
		},
		methods: {
			toggleDripdownMenu() {
				this.renderflag = false
				this.dropmenuFlag = !this.dropmenuFlag
			},
			switchArticle(item) {
				this.dropmenuFlag = false
				this.$router.push({name: 'afile', params: {articleid: Math.floor(Math.random()*10)}})
			},
			docInfo() {
				let info = {
					author: '何柳杰',
					createdtime: '2017.09.19',
					readtimes: 10
				}
				Bus.$emit('on-show-docinfo', info)
			},
			backToFilelist() {
				this.$router.push({
					name: 'filelist',
					params: {
						folderid: this.$route.query.folderid
					},
					query: {
						foldername: this.$route.query.foldername,
						files: this.$route.query.files
					}
				})
			},
			showDirectory(){
				Bus.$emit('on-toggle-directory')
			},
			_loadData() {
				let folderName = this.$route.query.foldername
				let fileid =  this.$route.query.fileid
				axios.get(`http://api.liujack.com/blog/shimoget`, {
				    params: {fileid: fileid}
				  }).then((res) => {
				    if (res.status === 200) {
				    	// let content = JSON.parse(res.data.data.content)
				    	Bus.currentFileContent = res.data.data.content
				    	this.currentArticleName = res.data.data.filename
				    	this.content = res.data.data.content
				    }
				  })
			}
		},
		mounted() {
			let vm = this
			this.currentFolderName = unescape(this.$route.query.foldername)
			this._loadData()
		}
	}

</script>

<style lang="less">
	@import '../../styles/variable.less';
	.atitle-wrap{
		left: 0;
		top: 0;
		padding: 0 10px;
		.atitle-list{
			padding-left: 10px;
		}
		.atitle-item{
			line-height: 50px;
			padding: 0 10px;
			i{
				color: #333;
				font-size: 18px;
			}
			.android-arrow-dropdown{
				cursor:	pointer;
			}
			.ivu-icon-android-arrow-dropdown{
		    	cursor: pointer;
				top: 16px;
    			right: -15px;
		    }
		    &:nth-of-type(2){
		    	height: 50px;
	    		max-width: 160px;
		    	overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
		    }
		}
		.atitle{
			font-size: 14px;
			font-weight: bolder;
			color: #000;
		}
		.dropdown-menu-wrap{
			opacity: 0;
			max-height: 240px;
			top: 12px;
    		left: 0;
			width: 240px;
			background-color: #fff;
			padding-top: 10px;
			box-shadow: 0 3px 4px hsla(0,0%,53%,.4);
			&.slideInTop{
				-webkit-animation: .5s slideInTop;
				animation: .5s slideInTop;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}
			&.slideOutTop{
				-webkit-animation: .5s slideOutTop;
				animation: .5s slideOutTop;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}
		}
		.dropdown-menu-list{
			height: auto;
			left: 0;
			top: 0;
		}
		.dropdown-menu-item{
			cursor: pointer;
			height: 30px;
		    padding-left: 18px;
		    padding-right: 18px;
		    font-size: 12px;
		    line-height: 30px;
		    &:hover{
		    	background-color: #efefef;
		    }
		    .icon-doc{
		    	top: 4px;
		    }

		    .android-arrow-dropdown{
		    	cursor: pointer;
		    }
		}
		.dname{
			padding-left: 5px;
		}
	}
	.article-nav-wrap{
		.nav-item{
			margin-right: 20px;
			.link-directory{
				&.active{
					color: #73a2e3;
				}
			}
		}
	}
	.content-wrap{

    }
    .file-wrap{
        .view-container{
            width: 100% !important;
        }
        .head-wrap{
            font-size: 50px;
            width: 100% !important;
            margin: 0 20px;
        }
        .magic{
            font-size: 26px;
            width: 100% !important;
            padding: 20px !important;
            code{
                font-size: 26px !important;
            }
        }
    }
    
</style>


