<template>
  <div class="m-home-wrapper">
      <section class="title vmc-1px-b flex-center">
          <h1>IIU-BLOG</h1>
      </section>
      <section class="folder-wrapper" v-if="$route.name === 'mhome'">
        <ul class="list-inner-container">
            <li class="list-item ib"
                v-for="(item, index) in folderlist"
                :key="index.folderid" @click="viewFolder(item)">
                <a href="javascript:;" class="ib wf list-link">
                    <div class="thumbnail">
                        <div class="folder-style"></div>
                        <div class="info ellipsis tc">{{item.foldername}}</div>
                    </div>
                </a>
            </li>
        </ul>
      </section>
      <keep-alive>
           <router-view></router-view>
      </keep-alive>
  </div>
</template>

<script>
    import axios from 'axios'
    import Util from '../../libs/utils';
    export default {
        data() {
            return {
                folderlist: []
            }
        },
        created(){
           this.$route.name === 'mhome' ? this._loadData() : null
        },
        mounted() {
            Util.setViewport()
        },
        methods: {
            viewFolder(item){
                this.$router.push(
					{
                        name: 'mfilelist', 
                        params: {}, 
                        query: {
                            folderid: item.folderid,	
						    foldername: escape(item.foldername)
                        }
                    }
				)
            },
            async _loadData() {
                try{
                    const res = await axios.get(`http://api.liujack.com/blog/folder`, {
                        params: {}
                    })
                    if (res.status === 200) {
                        this.folderlist = res.data.data
                    } else {
                        this.$Message.error('获取数据失败')
                    }
                } catch(e) {console.log(e)}
			}
        }
    }
</script>


<style scoped lang="less">
    @import '../../styles/1px.less';
    @import '../../styles/flex.less';
    .m-home-wrapper{
        .title{
            width: 100%;
            height: 1rem;
            background-color: #eee;
            h1{
                font-size: 40px;
            }
        }
        .folder-wrapper{
            padding: 20px;
            .list-inner-container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                .list-item{
                    flex: 0 0 2rem;
                    margin-right: 0.36rem;
                    .folder-style{
                        width: 100%;
                        height: 2rem;
                        background-size: 96%;
                    }
                    .info{
                        font-size: 0.24rem;
                        color: #000;
                        height: 0.36rem;
                        width: 2rem;
                        overflow: hidden;
                    }
                }
            }
        }
    }
</style>
