<template>
	<div class="hf">
		<keep-alive>
			<router-view></router-view>
		</keep-alive>
		
	</div>
</template>

<script>
	import Bus from '../../../components/bus'
	export default {
		name: 'vuebar',
		data () {
			return {
				screenHeight: 0
			}
		},
		computed: {
			wrapStyles() {
				return {
					height: `${this.screenHeight - 80}px`
				}
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.screenHeight = window.innerHeight
			})
		}
	}
</script>