<template>
	<div style="overflow: hidden;">

		<i-header>
			<ul class="clearfix article-nav-wrap pr" slot="alist">
				<!-- <li class="fr nav-item">
					<a href="javascript:;" class="link c6" @click.stop="slideInMove">
						<Icon class="pr f16" type="ios-search-strong"></Icon>
						<span class="">搜索</span>
					</a>
					<div class="ib pa search-input-wrap" 
					:class="searchInputWrapClasses">
						<Input class="search-input ib" @click.native.stop v-model="searchValue" placeholder="请输入关键字..." ref="searchInput">
						</Input>
					</div>
				</li> -->
			</ul>
		</i-header>
		<i-container ref="container">
			<div class="content pr hf wf clearfix">
				<!-- <div class="left-box fl hf">
					<ul class="list-tab">
						<li class="tab-item" v-for="(item, index) in typelist" :key="item.id" @click.stop="switchTab(item)">
							<a href="javascript:;" class="ib hf wf tab-link"
								:class="{'active': item.active}">
								<i class=" pr" :class="item.iconclass"></i>
								<span class="ib">{{item.name}}</span>
							</a>
						</li>
					</ul>
				</div> -->
				<div class="right-box fl hf" :style="rightBoxStyles">

					<div class="right-content right-content-folder">
						<div class="right-header clearfix">
							<div class="title ib fl">内容</div>

							<div class="show-style ib fr" @click.stop="currentListMode=!currentListMode" v-show="currentListMode"><i class="icon-tiled mr5 pr"></i>平铺</div>

							<div class="show-style ib fr" @click.stop="currentListMode=!currentListMode" v-show="!currentListMode"><i class="icon-list mr5 pr"></i>列表</div>

						</div>
						<div class="list-outer-container pr"
							:class="{'list-outer-table':!currentListMode}"
							:style="listOutContainerStyles"
							v-bar="{preventParentScroll: true, scrollThrottle: 30}">
							<ul class="list-inner-container pa">
								<li class="list-item ib"
								 v-for="(item, index) in folderlist"
								 :key="index.folderid" @click="viewFolder(item)">
								 	<a href="javascript:;" class="ib wf list-link">
								 		<div class="thumbnail">
											<div class="folder-style"></div>
											<div class="info tc">{{item.foldername}}</div>
										</div>
								 	</a>
								</li>
							</ul>
						</div>
					</div>


					<!-- <div class="page-wrap tc">
						<Page :current="2" class="ib" :total="50" simple></Page>
					</div> -->

				</div>
			</div>
		</i-container>

	</div>
</template>


<script>
	import iHeader from '../../components/header'
	import iContainer from '../../components/container'
	import bus from '../../../src/components/bus';
	import Mixins  from '../../libs/mixins'
	// import folderData from '../../folders/config'
	import axios from 'axios'
	export default{ 
		name: 'article',
		mixins:  [Mixins],
		data() {
			return {
				typelist: [
					{
						name: '文件夹',
						value: 'folder',
						iconclass: 'icon-folder',
						id: 2,
						active: true
					}
				],
				folderlist: [],
				searchValue: '',
				searchWrapFlag: false,
				listHeight: 0,
				currentListMode: true
			}
		},
		components: {
			iHeader,
			iContainer
		},
		created() {

		},
		methods: {
			slideInMove() {
				this.searchWrapFlag = !this.searchWrapFlag
				if (this.searchWrapFlag) {
					this.$refs.searchInput.focus()
				}
			},
			switchTab(item) {
				this.changeStatus('typelist', item, 'active')
			},
			viewFolder(item) {
				this.$router.push(

					{name: 'filelist', params: {folderid: item.folderid}, query: {	
						foldername: escape(item.foldername)
					}}
				)
			},
			_loadData() {
				axios.get(`http://api.liujack.com/blog/folder`, {
				    params: {}
				  }).then((res) => {
				    if (res.status === 200) {
				    	this.folderlist = res.data.data
				    } else {
				    	this.$Message.error('获取数据失败')
				    }
				  })
			}
		},
		computed: {
			searchInputWrapClasses() {
				return {
					['slideIn']: this.searchWrapFlag,
					['slideOut']:! this.searchWrapFlag,
				}
			},
			rightBoxStyles() {
				return {
					width: `100%`
				}
			},
			listOutContainerStyles() {
				return {
					height: `${this.listHeight}px`
				}
			},
			currentTabid() {
				return this.findCurrentValue('typelist', 'active', 'id')
			}
		},
		mounted() {
			let vm = this
			document.addEventListener('click', (e) => {
				vm.searchWrapFlag = false
				vm.$refs.searchInput && vm.$refs.searchInput.blur()
			}, false)
			bus.$on('on-resize-change', (h) => {
				this.listHeight = h - 160
			})
			this.listHeight = this.$refs.container.screenHeight - 160
			this._loadData()
		},
		watch: {

		}
	}
</script>


<style lang="less">
	@import '../../styles/variable.less';

	.article-nav-wrap{
		padding: 0 10px;
		.ivu-icon{
			top: 2px;
		}
		.link{
			font-size: 13px;
		}
		.link:hover{
			color: #000;
		}
		.search-input-wrap{
			position: 0;
			right: 0;
			top: 0;
			transform: translateY(-100%);
			-webkit-transform: translateY(-100%);
			&.slideIn{
				-webkit-animation: .5s rightIn;
				animation: .5s rightIn;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}
			&.slideOut{
				-webkit-animation: .5s rightOut;
				animation: .5s rightOut;
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
			}
		}
		.nav-item{
			overflow: hidden;
		}
		.search-input{
			width: 300px;
			.ivu-input{
				border: none;
				border-radius: 0;
				padding-left: 30px;
				&:focus{
					border-color: #fff;
					outline: 0;
					box-shadow: none;
				}
			}
		}
	}

	.content{
		.left-box{
			padding-top: 10px;
			width: @left-menu-width;
			.list-tab{
				padding: 10px;
				.tab-item{
					height: 30px;
					line-height: 30px;
					margin-bottom: 10px;
					.tab-link{
						color: @text-color;
						font-size: @middle-font-size;
						&.active{
							color: @text-hl-color;
							font-weight: 700;
						}
						i{
							position: relative;
							top:4px;
						}
					}
				}
			}
		}
		.right-box{
			padding-top: 10px;
			.right-content{
				margin-top: 6px;
				padding: 10px 22px 10px 22px;
				.title{
					color: #666;
				}
				.right-header{
					margin-bottom: 10px;
					.show-style{
						cursor: pointer;
					}
					i{
						top: 3px;
					}
					.crumb-list{
						a{
							color: #6886aa;
							box-sizing: border-box;
							padding: 5px;
						}
						i{
							padding-left: 6px;
							font-size: 15px;
							top: 2px;
							color: #999;
						}
						.no-crumb{
							box-sizing:border-box;
							margin-left: 10px;
						}
					}
				}
				.list-outer-container{
					
				}
				.list-inner-container{
					padding-bottom: 100px;
					left: 0;
					top: 0;
				}
				.list-item{
					cursor: pointer;
					width: 127px;
					height: 122px;
					margin-right: 6px;
					border: 1px solid #f7f7f7;
					margin-bottom: 10px;
					&:hover{
						border: 1px solid #e5e5e5;
						border-radius: 2px;
						background-color: #f3f4f5;
					}
				}
				.thumbnail{

				}
				.info{
					-webkit-font-smoothing: antialiased;
				    text-align: center;
				    font-size: 12px;
				    overflow: hidden;
				    color: #4b4b4b;
				    word-break: break-all;
				    line-height: 18px;
				    max-height: 36px;
				}
				.list-outer-table{
					.list-item{
						display: block;
						height: 45px;
						overflow: hidden;
						margin-bottom: 0;
						width: 100%;
						border-bottom: 1px solid #e5e5e5;
						.list-link{
							width: 100%;
							height: 100%;
						}
						&:hover{
							border: 1px solid #f7f7f7;
							background-color: #f3f4f5;
							border-radius: none;
						}
						.folder-style, .doc-style{
							width: 26px;
							height: 26px;
							background-image: url(https://assets-cdn.shimo.im/assets/images/desktop_list/file_icons_2x-797196bc24.png);
							background-position: -52px 0;
							background-size: 170px 70px;
							display: inline-block;
							margin-top: 9px;
    						margin-right: 14px;
						}
						.doc-style{
							background-position: 0 0;
						}
						.thumbnail{
							height: 100%;
						}
						.info{
							display: inline-block;
							height: 100%;
							line-height: 45px;
							max-width: 350px;
    						padding-right: 5px;
    						overflow-x: hidden;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						}
					}
				}
			}
		}
	}
</style>