<template>
	<div class="index-wrap">
		<div class="box">
			<div class="two-dimension-code">
				<p style="font-size: 24px;"><a target="_blank" href="https://github.com/stupidWall/imeituan"><Icon type="social-github"></Icon></a></p>
				<img src="http://osbfr39w7.bkt.clouddn.com/1516588350.png" width="100%" height="100%" alt="">
			</div>
		</div>
	</div>
</template>


<script>
	export default{
		name: 'demo',
		data() {
			return {
				screenHeight: 0
			}	
		},
		computed: {
			
		},
		mounted() {
		}
	}
</script>

<style lang="less" scoped>
	.index-wrap{
		margin-top: 200px;
	}
	.iframe-container{
		margin: 10px 0;
		width: 414px;
		height: 736px;
		border: 1px solid #eee;
	}
	.box{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.two-dimension-code{
		width: 250px;
		height: 250px;
	}
</style>