<template>
	<div class="index-wrap f-h-full">
		<router-view></router-view>
	</div>
</template>


<script>
	export default{
		name: 'demo',
		data() {
			return {
				screenHeight: 0
			}	
		},
		computed: {
			
		},
		mounted() {
		}
	}
</script>



<style lang="less">

</style>