<template>
	<div>
		<div v-bar style="height:200px; width: 60%; margin: 100px auto;" ref="bar">
		  <div class="content">
		  		<h1>甄子丹透露《叶问4》将开拍与吴京李连杰合作把不和传闻打得粉碎</h1>
		  		<p>吴京、甄子丹、李连杰这三个人是中国最出名的动作戏演员，当然了，成龙大哥也是动作演员，这是他与前三位不太一样。不少人说成龙都是嘻嘻哈哈的花拳绣腿，前三个人都是实打实的硬功夫。

民间一直流传着这么一个说法：吴京早年在拍摄《杀破狼》时被甄子丹暴打，打断棍子，关系不和。对于这个传闻，甄子丹曾经否认过，而吴京本人也否认被打压的说法。其实吴京和甄子丹关系一直很好，是哥们关系，关系没有不和</p>
				<p>10月12日甄子丹做客电影追龙访谈活动，网友向甄子丹提问：跟李连杰、吴京合作的新电影叫啥？什么时候开拍呢？目前进展怎么样？甄子丹回应：稍后等李连杰先生宣布吧，快了！如果他们关系真的闹僵了，那就不可能在一起拍戏了。既然要合作拍戏，那就说明吴京和甄子丹关系很好</p>
				<p>粉丝力挺说：世纪之照，谣言不攻而破，支持；超喜欢国产这些武打片；真的非常期待，也给那些传言说三人不合的键盘侠一个响亮的大嘴巴子；三个牛人合作电影；好喜欢你，男性荷尔蒙爆发</p>
				<p>甄子丹还透露说：现在明年除了叶问四，全部都是时装动作片。粉丝问：现实生活中也是生死有命富贵在天吗？甄子丹自夸：我自己本人是非常积极进取。目前已经确定的是，《叶问4》2018年4月份将开始拍摄，除了甄子丹继续饰演叶问之外，其他演员角色暂时没确定，应该都在洽谈中。</p>
				<p>《追龙》票房不算好，也不算差，13天进账4.47亿，估计今晚会突破5个亿的票房。截止到10月12日下午3点半，《追龙》当天票房是447万，排片场次是4万多场，上座率是4.3%，和《羞羞的铁拳》上座率保持一致。《羞羞的铁拳》已经是16.21亿了，每天以千万票房递赠，在《羞羞的铁拳》高压下，《追龙》只能分得一杯残羹。</p>
				<h1>苹果首席设计官：iPhoneX研发了五年，苹果仍将代表创新的未来</h1>
				<p>如今，当我们谈论起简洁极致的产品设计时，总离不开苹果。而如果要追溯苹果产品设计的历史，就不得不提到乔纳森·艾维（Jonathan Ive，又称 Jony Ive）。

这个被誉为“魔术师”的设计师，从 14 岁开始萌生出对工业设计的兴趣，1993 年加入苹果公司，在 1997 年乔布斯重返苹果之后，正式被任命为苹果公司的资深设计师。

在他任职期间，他曾主导完成了从 iPod、iMac、iPhone、iPad 等硬件产品到 iOS 操作系统的设计工作，仅本人便拥有超过 5000 项设计专利。苹果公司还专门为他增加了首席设计官（Chief Design Officer）这个头衔</p>
				<p>可以说，在成就苹果极致的设计这方面，这位才华横溢的设计师功不可没。而向来与苹果的灵魂人物乔布斯“不谋而合”的他，也可以被认为是最了解苹果创新设计的元老级人物。

近日，艾维参加了《纽约客》杂志在美国举办的 TechFest 论坛活动，讲述了他对于乔布斯、iPhone X 以及苹果未来创新设计的理念和看法。在这位设计大佬看来，苹果仍将继续为用户带来具有革命性意义的创新设计。

iPhone 的诞生，源于对现有手机体验的不满</p>
				<p>艾维谈到 iPhone 的诞生时，这个“坦诚”的回答令身为主持人的《纽约客》主编戴维·雷姆尼克（David Remnick）感到惊讶。 也许是源自于设计师对细节的追求本能，艾维认为，那些手机无论是做工还是外形设计都很糟糕，缺乏“灵魂”</p>
		  </div>
		</div>
		<div>
			<p>{{scrollTop}}</p>
		</div>
		<div class="mt10">
			<p><router-link to="/article/file?folderid=5&foldername=%25u6E90%25u7801%25u7B14%25u8BB0&fileid=34">查看笔记</router-link></p>
		</div>
	</div>
</template>


<script>
	import $ from 'jquery'
	export default {
		data() {
			return {
				scrollTop: 0
			}
		},
		methods: {
			
		},
		mounted() {
			this.$nextTick(() => {
				let that = this
				$('.content').scroll(() => {
					that.scrollTop = this.$refs.bar._vuebarState.barTop
				})
			})
		}
	}
</script>

<style lang="less">
	@import '../../../../styles/variable.less';
	.vb > .vb-dragger {
	    z-index: 5;
	    width: 12px;
	    right: 0;
	}

	.vb > .vb-dragger > .vb-dragger-styler {
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-transform: rotate3d(0,0,0,0);
	    transform: rotate3d(0,0,0,0);
	    -webkit-transition:
	        background-color 100ms ease-out,
	        margin 100ms ease-out,
	        height 100ms ease-out;
	    transition:
	        background-color 100ms ease-out,
	        margin 100ms ease-out,
	        height 100ms ease-out;
	    background-color: rgba(48, 121, 244,.1);
	    margin: 5px 5px 5px 0;
	    border-radius: 20px;
	    height: calc(100% - 10px);
	    display: block;
	}

	.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
	    background-color: rgba(48, 121, 244,.3);
	}

	.vb > .vb-dragger:hover > .vb-dragger-styler {
	    background-color: rgba(48, 121, 244,.5);
	    margin: 0px;
	    height: 100%;
	}

	.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
	    background-color: rgba(48, 121, 244,.5);
	    margin: 0px;
	    height: 100%;
	}

	.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
	    background-color: rgba(48, 121, 244,.5);
	}
</style>	