.vmc-1px,
.vmc-1px-DDD8CE,
.vmc-1px-t,
.vmc-1px-b,
.vmc-1px-tb,
.vmc-1px-l,
.vmc-1px-r,
.vmc-1px-radius,
.vmc-1px-rb,
.vmc-1px-b-21897d,
.vmc-1px-b-DDD8CE,
.vmc-1px-b-ccc,
.vmc-1px-t-DDD8CE,
.vmc-1px-t-999,
.vmc-1px-r-666,
.vmc-1px-radius-3385ff {
  position: relative;
}
.vmc-1px:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}
.vmc-1px-DDD8CE:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border: 1px solid #DDD8CE;
  color: #DDD8CE;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}
.vmc-1px-radius:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
  border-radius: 5px;
}
.vmc-1px-t:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vmc-1px-b:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vmc-1px-b-21897d:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #21897d;
  color: #21897d;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vmc-1px-b-ccc:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vmc-1px-r-666:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #666;
  color: #666;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
.vmc-1px-b-DDD8CE:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #DDD8CE;
  color: #DDD8CE;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vmc-1px-t-DDD8CE:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #DDD8CE;
  color: #DDD8CE;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vmc-1px-t-999:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #999;
  color: #999;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vmc-1px-radius-3385ff:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 1px;
  border: 1px solid #3385ff;
  color: #3385ff;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
  border-radius: 5px;
}
.vmc-1px-tb:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.vmc-1px-tb:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vmc-1px-rb:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
.vmc-1px-rb:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.vmc-1px-l:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 0 0;
  transform: scaleX(0.5);
}
.vmc-1px-r:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
