
@screen-width: 			1136px;

@box-shadow-bottom: 	0 2px 3px 0 hsla(0,0%,39%,.15);

@left-menu-width: 		140px;

@text-color: 			#a5a5a5;

@text-hl-color: 		#262626;

@middle-font-size:  	14px;

@article-width: 		816px;	