<template>
	<div class="demo-ctn">
		<div class="mt10">
			<p><router-link to="/article/file?folderid=5&foldername=%25u6E90%25u7801%25u7B14%25u8BB0&fileid=38">查看笔记</router-link></p>
		</div>
		<Row>
			<Col :span="12">
				<div class="demo-wrap">
					<ul>
						<li v-for="(item, index) in imglist" :key="index" class="item">
							<img v-lazy="item" width="100%" height="100%" alt="" @load="imgload">
						</li>
					</ul>
				</div>
			</Col>
			<Col :span="12">
				<i-code lang="javascript" slot="code">{{ code.base }}</i-code>
			</Col>
		</Row>
	</div>
</template>


<script>
	import iCode from '../../../../components/code'
	import Code from '../../../../code/vue-lazyload'
	export default{
		data() {
			return {
				imglist: (() => {
					let res = []
					for (let i = 0; i < 18; i ++) {
						res.push('http://pic.ibaotu.com/00/33/64/13m888piCpaX.jpg-0.jpg!ww700')
					}
					return res
				})(),
				code: Code
			}
		},
		methods: {
			imgload(e) {
				// console.log('e', e)
			}
		},
		mounted() {
			console.log(this.code)
		},
		components: {
			iCode
		}
	}
</script>



<style lang="less">
	@import '../../../../styles/variable.less';
	.demo-ctn{		
		height: 1000px;
		overflow-y: scroll;
	}
	.demo-wrap{
		width: 215px;
		margin: 20px auto;
		.item{
			margin-bottom: 50px;
		}
	}
</style>	