<template>
	<div class="demo-wrap">

		<Row>
			<Col span="4" class="left-area pr">
				<router-link to="/demo/cross-domain">跨域实例</router-link>
			</Col>
			<Col span="18">
				<router-view></router-view>
			</Col>
		</Row>


	</div>
</template>


<script>
	export default{
		name: 'demo',
		data() {
			return {
				screenHeight: 0
			}	
		},
		computed: {
			
		},
		mounted() {
		}
	}
</script>



<style lang="less">
	@import '../../styles/variable.less';
	.demo-wrap{
		margin: 50px auto;
		padding: 0 20px;
		a{
			font-size: 12px;
		}
		.left-area{
			border-right: 1px solid #f2f2f2;
			.list{
				left:0;
				right:0;
			}
		}
	}
</style>