
<template>
    <div>
        <div class="index">
            <div class="bg"><span></span></div>
            <Row type="flex" justify="center" align="middle" style="position: relative;z-index: 3">
                <i-col span="24">
                    <h1 class="logo">
                        IIUB
                    </h1>
                    <h2>BELIEVE IN YOURSELF</h2>
                    <div class="list">
                        <router-link :to="'/plug/home/data-visualization'" class="c333"><Icon type="cube"></Icon> 控制台</router-link>
                        <router-link :to="'/article/list'" class="c333"><Icon type="ios-paper-outline"></Icon> 技术笔记</router-link>
                        <a href="https://github.com/stupidWall" target="_blank" class="c333">
                            <Icon type="social-github"></Icon>
                            GitHub
                        </a>
                        <a href="http://www.liujack.com" target="_blank" class="c333">
                            <Icon type="social-buffer"></Icon>
                            查看旧版
                        </a>
                        <router-link :to="'/author'" class="c333"><Icon type="android-person"></Icon> 关于我</router-link>
                        <!-- <a href="javascript:;" @click="concatAuthor" class="c333">
                            <Icon type="person"></Icon>
                            <img src="http://osbfr39w7.bkt.clouddn.com/IMG_1245.JPG" style="display:none"/>
                            联系我
                        </a> -->
                    </div>
                </i-col>
            </Row>
        </div>
        <div id="indexLizi"></div>
    </div>
</template>
<script>
   //  import THREE from '../libs/three/three';
    import bus from '../../src/components/bus';

    export default {
        data () {
            return {
                lang: this.$lang
            }
        },
        computed: {
        },
        methods: {
            loadImage() {
                return new Promise((resolve, reject) => {
                    let img = new Image()
                    img.src = 'http://osbfr39w7.bkt.clouddn.com/IMG_1245.JPG'
                    img.onload = resolve
                    img.onerror = reject
                })
            },
            concatAuthor() {
                this.$Modal.success({
                    width: 500,
                    okText: '关闭',
                    render: (h) => {
                        return h('img',{
                            attrs: {
                                src: 'http://osbfr39w7.bkt.clouddn.com/IMG_1245.JPG',
                                alt: '微信二维码'
                            },
                            style: {
                                width: '100%'
                            }
                        })
                    }
                })
            },
            liziInit () {
                var SCREEN_WIDTH = window.innerWidth;
                var SCREEN_HEIGHT = window.innerHeight;

                var SEPARATION = 90;
                var AMOUNTX = 50;
                var AMOUNTY = 50;

                var container;

                var particles, particle;
                var count;

                var camera;
                var scene;
                var renderer;

                var mouseX = 0;
                var mouseY = 0;

                var windowHalfX = window.innerWidth / 2;
                var windowHalfY = window.innerHeight / 2;

                init();
                this.interval = setInterval(loop, 1000 / 60);

                function init() {

                    container = document.createElement( 'div' );
                    container.style.position = 'relative';
                    container.style.top = '200px';
                    document.getElementById('indexLizi').appendChild( container );

                    camera = new THREE.Camera( 75, SCREEN_WIDTH / SCREEN_HEIGHT, 1, 10000 );
                    camera.position.z = 1000;

                    scene = new THREE.Scene();

                    renderer = new THREE.CanvasRenderer();
                    renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );

                    particles = new Array();

                    var i = 0;
                    var material = new THREE.ParticleCircleMaterial( 0x097bdb, 1 );

                    for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

                        for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

                            particle = particles[ i ++ ] = new THREE.Particle( material );
                            particle.position.x = ix * SEPARATION - ( ( AMOUNTX * SEPARATION ) / 2 );
                            particle.position.z = iy * SEPARATION - ( ( AMOUNTY * SEPARATION ) / 2 );
                            scene.add( particle );
                        }
                    }

                    count = 0;

                    container.appendChild( renderer.domElement );

                    document.addEventListener( 'mousemove', onDocumentMouseMove, false );
                }

                function onDocumentMouseMove( event ) {

                    mouseX = event.clientX - windowHalfX;
                    mouseY = event.clientY - windowHalfY;

                }

                function onDocumentTouchMove( event ) {

                    if ( event.touches.length == 1 ) {

                        event.preventDefault();

                        mouseX = event.touches[ 0 ].pageX - windowHalfX;
                        mouseY = event.touches[ 0 ].pageY - windowHalfY;

                    }
                }

                function loop() {
                    camera.position.x += ( mouseX - camera.position.x ) * .05;
                    camera.position.y = 364;

                    var i = 0;

                    for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

                        for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

                            particle = particles[ i++ ];
                            particle.position.y = ( Math.sin( ( ix + count ) * 0.3 ) * 50 ) + ( Math.sin( ( iy + count ) * 0.5 ) * 50 );
                            particle.scale.x = particle.scale.y = ( Math.sin( ( ix + count ) * 0.3 ) + 1 ) * 2 + ( Math.sin( ( iy + count ) * 0.5 ) + 1 ) * 2;

                        }
                    }

                    renderer.render( scene, camera );

                    count += 0.1;
                }
            },
            handleChangeLang () {
            }
        },
        mounted () {
            this.lang = this.$lang;
           //  this.liziInit();
        },
        beforeDestroy () {
            if (this.interval) clearInterval(this.interval);
        },
        components:{
            
        }
    }
</script>

<style scoped lang="less">

.index{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: -moz-linear-gradient(top, #2d8cf0,#ace);
    background: -webkit-linear-gradient(top, #2d8cf0, #ace);
    /*background-image: url("../images/bg-new.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    overflow: hidden;
    
    h1{
        img{
            display: block;
            margin: 0 auto;
        }
        .img-logo{
            width: 90px;
            height: 90px;
        }
        .img-name{
            width: 90px;
            height: 40px;
            position: relative;
            left: 0;
        }
    }
    h2{
        color: #fff;
        font-weight: normal;
        margin-top: 50px;
        font-size: 16px;
    }
    .list{
        margin: 40px 0 200px;
        a{
            color: #0099fb;
            font-size: 16px;
            display: inline-block;
            padding: 10px;
            position: relative;
            transition: color 0.3s;
            &:before, &:after{
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
                content: '';
                opacity: 0;
                transition: opacity 0.3s, transform 0.3s;
                transform: translateY(-10px);
            }
            &:before{
                top: 0;
                transform: translateY(-10px);
            }
            &:after{
                bottom: 0;
                transform: translateY(10px);
            }

            &:hover{
                color: #fff !important;
            }
            &:hover::before,&:hover::after{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    .ivu-row-flex{
        height: 100%;
    }
    &-lang{
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
        & span{
            display: inline-block;
            color: #fff;
            cursor: pointer;
        }
    }
}

#indexLizi{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.logo{
    font-size: 80px;
    font-weight: bolder;
    color: #fff;
}
</style>
<style>
    .index-version .ivu-badge-count{
        box-shadow: none;
        right: 0;
        top: -3px;
        color: #f50;
        background: transparent;
    }
</style>
