<template>
	<div class="container" :style="containerStyles">
		<div class="heading wf pa"
			:class="headingClasses"
			:style="headingStyles" v-if="!mobile"></div>
		<div class="inner-wrap wf pr"
			v-bar="{
				preventParentScroll: true
			}" :style="innerStyles" ref="innerWrap">
			<div class="inner hf" id="vueBarScrollEl">
				<div class="view-container pr" ref="viewContainer" :style="viewContainerStyles">
					<slot></slot>
					<div class="cfooter pa"></div>
				</div>
			</div>
		</div>
		
	</div>
</template>


<script>
	import _ from 'lodash'
	import bus from './bus';
	import $ from 'jquery'
	import Utils from '../libs/utils'
	export default {
		name: 'icontainer',
		props: {
			mobile: false
		},
		data() {
			return {
				scrollArticleFlag: false,
				screenHeight: 0
			}
		},
		mounted() {
			let vm = this
			this.screenHeight = window.innerHeight
			window.addEventListener('resize', () => {
				vm.reSetHeight()
				bus.$emit('on-resize-change', this.screenHeight)
			}, false)
			this.$nextTick(() => {
				this.$refs.innerWrap.firstElementChild.addEventListener('scroll', (e) => {
					// console.log('滚动距离', e.srcElement.scrollTop)
					if (e.srcElement.scrollTop > 0) {
						vm.scrollArticleFlag = true
					} else {
						vm.scrollArticleFlag = false
					}
				})
			})
		},
		computed: {
			containerStyles() {
				return {
					height: `${this.screenHeight - 50}px`
				} 
			},
			headingClasses() {
				return {
					['boxshadow']: true
				}
			},
			headingStyles(){
				return {
					height: this.scrollArticleFlag ? '46px' : 0
				}
			},
			innerStyles() {
				return {
					height: `${this.screenHeight - 96}px`
				}
			},
			viewContainerStyles() {
				return {
					minHeight: `${this.screenHeight - 96}px`
				}
			}
		},
		methods: {
			reSetHeight() {
				this.screenHeight = window.innerHeight
			}
		}
	}
</script>


<style scoped lang="less">
	@import '../styles/variable.less';
	.container{
		background: #f7f7f7;
		.heading{
			background: #f7f7f7;
			left: 0;
			top: 50px;
			height: 0;
			z-index: 100;
			transition:.3s height ease;
			-webkit-transition: .3s height ease;
			&.boxshadow{
				background: #f7f7f7;
				box-shadow: 0 2px 4px hsla(0,0%,8%,.15);
				-webkit-box-shadow: 0 2px 4px hsla(0,0%,8%,.15); 
			}
		}
		.inner-wrap{
			box-sizing: border-box;
			top: 46px;
		}
		.inner{
			.view-container{
				box-shadow: 0 1px 6px #ccc;
				-webkit-box-shadow: 0 1px 6px #ccc;
				background-color: #fff;
				width: @article-width;
				margin: 0 auto;
			}
		}
		.view-container{
			min-height: 600px;
			box-sizing: border-box;
			padding-bottom: 50px;
		}
		.cfooter{
			bottom: 0;
			left:0;
			height: 50px;
			width: 100%;
			background: #f7f7f7;
		}
	}
</style>