<style lang="less">
    .anchor{
        position: relative;
        & a{
            opacity: 0;
            font-size: 24px;
            transition: opacity .2s ease-in-out;
            margin-left: 5px;
            position: relative;
            top:0;
        }
        h1:hover a,h2:hover a,h3:hover a,h4:hover a,h5:hover a,h6:hover a{
            opacity: 1 !important;
        }
    }
</style>
<template>
    <div class="anchor">
        <h1 v-if="h1" :id="title_link">{{ title }}<a :href="`#${title_link}`">#</a></h1>
        <h2 v-if="h2" :id="title_link">{{ title }}<a :href="`#${title_link}`">#</a></h2>
        <h3 v-if="h3" :id="title_link">{{ title }}<a :href="`#${title_link}`">#</a></h3>
        <h4 v-if="h4" :id="title_link">{{ title }}<a :href="`#${title_link}`">#</a></h4>
        <h5 v-if="h5" :id="title_link">{{ title }}<a :href="`#${title_link}`">#</a></h5>
        <h6 v-if="h6" :id="title_link">{{ title }}<a :href="`#${title_link}`">#</a></h6>
        <slot></slot>
        
    </div>
</template>
<script>
    export default {
        props: {
            title: String,
            id: String,
            h1: Boolean,
            h2: Boolean,
            h3: Boolean,
            h4: Boolean,
            h5: Boolean,
            h6: Boolean
        },
        computed: {
            title_link () {
                return this.title.replace(/\s/g, '_');
            }
        }
    }
</script>