<style scoped>
    @import "../styles/common.css";
    .icon-loading{
        position: fixed;
        top: 10px;
        right: 10px;
        color: #0099e5;
        animation: ani-app-loading 1s linear infinite;
    }
    @keyframes ani-app-loading {
        from { transform: rotate(0deg);}
        50%  { transform: rotate(180deg);}
        to   { transform: rotate(360deg);}
    }
</style>
<template>
    <div>
        <router-view></router-view>
        <confirm v-model="modal">
            <p slot="title">文档信息</p>
            <div class="c3" v-if="modalInfo !== null">
                <div>作者：{{modalInfo.author}}</div>
                <div>创建时间: {{modalInfo.createdtime}}</div>
                <div>阅读次数: {{modalInfo.readtimes}}次</div>
            </div>
        </confirm>
        <prd-view v-model="viewFlag" :imglist="imageList" :currentUrl="currentImageUrl"></prd-view>
        <confirm v-model="identityModal">
            <p slot="title">WELCOME HERE</p>
            <div>
                <Input v-model="inputValue" type="password" placeholder="write something..."></Input>
                <Button type="primary" class="mt10 fr" @click="checkAction">SURE</Button>  
            </div>
        </confirm>
        <Modal
            v-model="addModal"
            title="ADD"
            @on-ok="asyncOK"
            width="800">
            <Card>
                <p slot="title">ADD CONTENT</p>
                <Input v-model="addModel.filename" placeholder="FILENAME"></Input>
                <Input v-model="addModel.content" :autosize="true" type="textarea" class="mt10" placeholder="WAIT INPUT..."></Input>
            </Card>    
        </Modal>
        <Modal
            v-model="editModal"
            title="MODIFY"
            @on-ok="asyncOK2"
            width="800">
            <Card>
                <p slot="title">MODIFY CONTENT</p>
                <Input v-model="editModel.name" placeholder="FILENAME"></Input>
                <Input v-model="editModel.contentlist" :autosize="true" type="textarea" class="mt10" placeholder="WAIT INPUT..."></Input>
            </Card>    
        </Modal>
    </div>
</template>
<script>
    import confirm from './confirm'
    import prdView from './prdview'
    import Bus from './bus'
    import axios from 'axios'

    export default {
        data () {
            return {
                addModal: false,
                inputValue: '',
                currentImageUrl: '',
                imageList: [],
                viewFlag: false,
                modal: false,
                identityModal: false,
                modalInfo: null,
                addModel: {
                    title: ''
                },
                editModal: false,
                editModel: {
                    name: '',
                    contentlist: ''
                }
            }
        },
        components: {
            confirm,
            prdView
        },
        computed: {
            loading () {
                return bus.loading;
            },
            currentFileContent(){
                let data = JSON.parse(unescape(Bus.currentFileContent))
                data.contentlist = JSON.stringify(data.contentlist)
                return data
            }
        },
        mounted () {
            let vm = this
            Bus.$on('on-show-docinfo', (info) => {
                vm.modalInfo = info
                vm.modal = true
            })
            Bus.$on('on-zoomin-image', (list, url) => {
                vm.viewFlag = true
                vm.imageList = list
                vm.currentImageUrl = url
            })
            Bus.$on('on-check-identity', () => {
                vm.identityModal = true
            })
        },
        methods: {
            checkAction() {
                if (this.inputValue === '') return;
                axios.get(`http://api.liujack.com/blog/checkidentity`, {
                     params: {
                        v: this.inputValue
                     }
                   }).then((res) => {
                    if (res.data.ret === 0) {
                       this.identityModal = false
                       this.addModal = true
                    }
                   })
            },
            asyncOK() {
                if (this.addModel.content === '') {
                    return
                }
                axios
                    .get(`http://api.liujack.com/blog/shimoadd`, {
                        params: {content: escape(this.addModel.content), filename: this.addModel.filename}
                    })
                    .then((res) => {
                        if (res.data.ret === 0) {
                           this.identityModal = false
                           this.addModal = false
                        }
                    })
            },
            asyncOK2() {
                axios
                    .get(`http://api.liujack.com/blog/shimomodi`, {
                        params: {content: this.editModel.contentlist, filename: this.editModel.name}
                    })
                    .then((res) => {
                        if (res.data.ret === 0) {
                           this.editModal = false
                        }
                    })
            }
        }
    }
</script>
