<template>
	<div class="wrap" v-show="flag">
		<div class="dialog">
			<div class="header clearfix">
				<span class="fl c3"><slot name="title"></slot></span>
				<Button type="text" class="fr" @click="closeModal">
					<Icon class="" type="android-close"></Icon>	
				</Button>
			</div>
			<div class="body">
				<slot></slot>	
			</div>
			<div class="footer"></div>
		</div>
	</div>
</template>


<script>
	export default {
		name: 'comfirmModal',
		props: {
			value: {
				type: Boolean,
				default: false
			}
		},
		data() {
			return {
				flag: false
			}
		},
		methods: {
			updateValue(){
				this.flag = this.value
			},
			closeModal(){
				this.flag = false
				this.$emit('input', false)
			}
		},
		mounted() {
			
		},
		watch: {
			value() {
				this.updateValue()
			}
		}
	}
</script>


<style scoped lang="less">
	@import '../styles/variable.less';
	.wrap{
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1050;
	    overflow: hidden;
	    -webkit-overflow-scrolling: touch;
	    outline: 0;
	    background-color: rgba(0,0,0,.3);
	    .dialog{
	    	top: 30%;
		    position: absolute;
		    left: 50%;
		    margin-left: -190px;
		    width: 420px;
		    font-size: 14px;
		    background-color: #fff;
		    overflow: hidden;
		    border-radius: 2px;
		    box-shadow: 0 4px 6px rgba(0,0,0,.2);
		    .header{
		    	font-size: 16px;
			    color: #666;
			    padding: 30px 40px 10px;
			    span{
			    	font-weight: 700;
			    	font-size: 16px;
			    }
			   	i{
			   		font-size: 15px;
			   	}
		    }
		    .footer{
		    	height: 40px;
		    	width: 100px;
		    }
		    .body{
		    	padding: 20px 40px;
			    font-size: 14px;
			    color: #666;
			    word-break: break-all;
		    }
	    }
	}
</style>