<template>
	<div class="container" :style="containerStyles">
		<div class="inner" v-if="widthFlag">
			<slot></slot>
		</div>	
		<div v-else class="hf">
			<slot></slot>
		</div>
	</div>
</template>


<script>
	import _ from 'lodash'
	import bus from './bus';
	import $ from 'jquery'
	export default {
		name: 'icontainer',
		props: {
			widthFlag: {
				type: Boolean,
				default: true
			}
		},
		data() {
			return {
				screenHeight: 0
			}
		},
		mounted() {
			let vm = this
			this.screenHeight = window.innerHeight
			window.addEventListener('resize', () => {
				vm.reSetHeight()
				bus.$emit('on-resize-change', this.screenHeight)
			}, false)
		},
		computed: {
			containerStyles() {
				return {
					height: `${this.screenHeight - (this.widthFlag ? 50 : 0)}px`
				} 
			}
		},
		methods: {
			reSetHeight() {
				this.screenHeight = window.innerHeight
			}
		}
	}
</script>


<style scoped lang="less">
	@import '../styles/variable.less';
	.container{
		background: #f7f7f7;
		.inner{
			width: 900px;
			margin: 0 auto;
		}
	}
</style>