<template>
	<div class="edit-wrap">
		<div class="head-wrap head-wrap-view">
			<span class="ib wf title ellipsis">{{ atitle }}</span>
		</div>
		<div class="body-wrap body-wrap-view">
			<div class="outerdocbody" v-if="amode==='edit'">
				<div class="innerdocbody focus-out" contenteditable="false" autocorrect="off" autocomplete="off">
					<div class="magic">

						<!-- <span class="ib text" v-if="item.type==='text'">{{item.content}}</span>
						

						<Anchor v-if="item.type==='title' && item.tagName === 'h2'" :title="item.title" :id="item.id" h2></Anchor>

						<Anchor v-if="item.type==='title' && item.tagName === 'h3'" :title="item.title" :id="item.id" h3></Anchor>

						<img v-if="item.type==='image'" v-lazy="item.src" :width="`${item.scale * 100}%`" alt="" @click="zoomInImage(item.src)">

						<pre v-if="item.type==='code'" class="pr">
							<code :class="item.language" class="code" ref="code" >
								{{item.code}}
							</code>
							<span class="copy pa" @click="clip(item)">
					            <Icon type="clipboard" size="18" class="pa" v-show="!item.copied"></Icon>
					            <Icon type="checkmark" size="18" class="pa" v-show="item.copied" style="color:#5cb85c"></Icon>
					        </span>
						</pre>

						<ol v-if="item.type==='list'">
							<li v-for="(o,m) in item.list" :key="m" class="list-type-item pr">
								{{ o }}
							</li>
						</ol> --> 
						
						<div v-html="contentHTML"></div>
						<!-- <i-code lang="javascript" slot="code" v-html="contentHTML"></i-code> -->
					</div>
				</div>
			</div>
		</div>
		

		<i-slidebar :list="slideBarTitleList"></i-slidebar>

			
	
	</div>
</template>


<script>
	import hljs from 'hljs'
	import $ from 'jquery'
	import Clipboard from 'clipboard'
	import _ from 'lodash'
	import iSlidebar from './slidebar'
	import Utils from '../libs/utils'
	import Anchor from '../components/anchor'
	import Bus from '../components/bus'
	import MarkdownIt from 'markdown-it'
	import iCode from './code'
	let md = new MarkdownIt();

	export default {
		name: 'editArticle',
		props: {
			lang: {
                type: String,
                default: 'javascript'
            },
			mode: {
				type: String,
				default: 'view'
			},
			title: {
				type: String,
				default: ''
			},
			content: {
				type: String
			}
		},
		components: {
			iSlidebar,
			Anchor,
			iCode
		},
		data() {
			return {
				// showSlideBarFlag: false,
				atitle: '',
				htmlContent: '',
				amode: '',
				contentHTML: '',
				copied: false,
				slideBarTitleList: []
			}
		},
		computed: {
            language () {
                if (this.lang == 'auto') {
                    return ''
                } else {
                    return this.lang;
                }
            },
            showSlideBarFlag() {
            	return Bus.directoryFlag
            }
        },
        methods: {
        	clip (item) {
                const ncode = item.code.replace(/&lt;/g,'<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');
                const clipboard = new Clipboard('.copy', {
                    text () {
                        return ncode
                    }
                });

                clipboard.on('success', (e) => {
                    e.clearSelection();
                    clipboard.destroy();
                    item.copied = true;
                    this.$Message.success('代码已复制到剪贴板');
                    setTimeout(() => {
                        item.copied = false;
                    }, 2000);
                });
            },
            zoomInImage(url) {
            	// Bus.$emit('on-zoomin-image', Utils.findImageList(this.contentList), url)
            },
            handleAnchor() {
            	setTimeout(() => {
            		$('.magic').find('img').width(0);
            		$('.magic').find('img').animate({
            			width: '100%'
            		})
            	}, 100)
            }
        },
		mounted() {
			let vm = this
			this.amode = this.mode
			this.atitle = this.title
			this.contentHTML = md.render(this.content)
			// 添加锚点
			this.handleAnchor()

			// $('code').addClass('javascript')
			// this.$nextTick(() => {
			// 	$.each($('code'), (i, c) => {
			// 		$(c).html($(c).html().replace(/\n/, ''))
			// 		hljs.highlightBlock(c)
			// 	})
			// })

			Bus.$on('on-chick-anchor', (id) => {

				// if (window.location.href.indexOf('#'+ id) === -1) {
				// 	window.location.href = window.location.href + '#' + id	
				// }

				let timer = null
				const $el = document.getElementById(id)
				$el.firstElementChild.style.opacity = 1
				clearTimeout(timer)
				timer = setTimeout(() => {
					$el.firstElementChild.style.opacity = 0
				}, 1000)
			})
			Bus.$on('on-toggle-directory', () => {
				Bus.directoryFlag = !Bus.directoryFlag
			})

			this.$nextTick(() => {
				$('code').addClass('javascript')
				Array.from(document.querySelectorAll('pre')).forEach(pre => {
					hljs.highlightBlock(pre);
				})
			})

		},
		watch: {
			title(v) {
				this.atitle = v
			}
		}
	}
</script>



<style lang="less">
	@import '../styles/variable.less';
	.edit-wrap{
		border-top: 1px solid #e5e5e5;
		.head-wrap{
			width: 616px;
			margin: 0 100px;
			padding-top: 90px;
			font-size: 24pt;
			border-bottom: 1px solid #e8ecf1;
			.title{
			    box-shadow: none;
			    display: block;
			    width: 100%;
			    height: 50px;
			    line-height: 50px;
			    color: #333;
			    font-weight: 700;
			    margin-bottom: 10px;
			}
			.input-title{
				.ivu-input{
					border: 0;
					height: 100%;
					width: 100%;
				    color: #333;
				    font-weight: 700;
				    font-size: 28px;
				    &:focus{
					    border-color: #fff;
						outline: 0;
						box-shadow: none;
				    }
				}
			}
		}
		.outerdocbody{

		}
		.innerdocbody{
			padding: 11px 0 90px;
		    overflow: hidden;
		    font-size: 11pt;
		    line-height: 1.7;
		    color: #333;
		    .magic{
		    	word-wrap: break-word;
			    outline: none;
			    padding: 0 100px;
			    border-left: 3px solid transparent;
			    width: 816px;
			    margin: 0 auto;
			    margin-bottom: 10px;
			    span{
			    	
			    }
			    .text{
			    	text-indent: 30px;
			    	font-size: 14px;
			    	margin-bottom: 10px;
			    }
			    h2{
			    	margin-top: 20px;
			    }
			    h3{
			    	margin-top: 10px;
			    }
			    img{
			    	width: 0;
			    	display: block;
			    	margin: 0 auto;
			    	cursor: -webkit-zoom-in;
			    }
			    pre{
					padding: 6px !important;
			    	margin-top: 10px;
			    	margin-bottom: 10px;
			    	border-radius: 2px;
			    	background-color: #272822;
			    	padding: 10px;
			    	overflow-y: scroll;
			    }
			    code{
			    	color: #fff;
			    	font-size: 15px;
			    	font-weight: 400;
			    	line-height: 1.6em;
			    }
			    .hljs{
			    	padding: 0;
			    	font-size: 1em;
			    }
			    .code{
			    	box-sizing: border-box;
					padding: 0 10px;
			    	background-color: #fff;
			    	/*
    				border-left: 1px solid rgba(208,212,217,.2);
    				border-right: 1px solid rgba(208,212,217,.2); */
			    }
			    .list-type-item{
			    	list-style: disc;
			    }
			    .copy{
			    	width: 22px;
				    height: 26px;
			    	border-radius: 0 0 3px 3px;
			        padding: 2px 5px;
			        position: absolute;
			        top: 5px;
			        right: 0;
			        color: #b2b2b2;
			        cursor: pointer;
			        i{
			        	left: 0;
					    top: 26px;
			        }
			    }
		    }
		}
	}
	.slide-enter-active, .slide-leave-active {
	  transition: .5s all ease;
	  transform: translateX(0);
	  opacity: 1;
	}
	.slide-enter, .slide-leave-to {
	  transform: translateX(100%);
	  opacity: 0;
	}
</style>
