<template>
	<div class="header-wrap pr">
		
		<slot name="atitle"></slot>
		<header class="inner pr">
			<Row class="inner">
				<Col class="" span="4">
					<h2>
						<router-link to="/" class="bf">IIUB</router-link>
					</h2>
				</Col>
				<Col class="" span="20">
					<slot name="alist"></slot>
				</Col>
			</Row>
		</header>
		<span class="icon-edit pa" @dblclick="checkIdentity">
			<Icon type="edit" class=""></Icon>
		</span>
		
	</div>
</template>


<script>
	import Bus from './bus'
	export default{ 
		name: 'header',
		data() {
			return {
				
			}
		},
		methods: {
			checkIdentity() {
				Bus.$emit('on-check-identity')
			}
		}
	}
</script>


<style scoped lang="less">
	@import '../styles/variable.less';
	.header-wrap{
		z-index: 999;
		height: 50px;
		box-shadow: @box-shadow-bottom;
		.inner{
			height: 100%;
			width: @screen-width;
			line-height: 50px;
			margin: 0 auto;
			padding: 0 10px;
			.right-box{
				width: 800px;
			}
			.left-box{
				width: 200px;
			}
			h2{
				background-color: #fff;
			}
		}
		.icon-edit{
			right: 10px;
			top: 16px;
			color: #fff;
		}
	}
</style>