<template>
	<div class="mainnav-wrap">
		<div class="container hf wf">
			<ul class="mainnav-list">
				<li class="mainnav-item wf mb10"
					v-for="(o, i) in mainnavlist"
					:key="i" @click.stop="switchMainNav(i)">
					<router-link :to="{name: o.routeName}" class="wf hf link ib"
						:class="linkClasses(i)">
						<div class="icon">
							<Icon :type="o.icon"></Icon>
						</div>
						
						<span class="ib wf name">{{o.name}}</span>
					</router-link>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
	import Bus from './bus'
	export default{ 
		name: 'main-nav',
		data() {
			return {

			}
		},
		methods: {
			linkClasses(index){
				return {
					['active']: this.mainnavCurrentIndex === index
				}
			},
			switchMainNav(index) {
				Bus.mainnavCurrentIndex = index
				this.linkClasses(index)
			}
		},
		computed: {
			mainnavlist() {
				return Bus.mainnavlist
			},
			mainnavCurrentIndex() {
				return Bus.mainnavCurrentIndex
			}
		},
		mounted() {
		},
		watch: {
			mainnavCurrentIndex(v) {
				window.localStorage.setItem('MAIN_MODULE_INDEX', Bus.mainnavCurrentIndex)
			}
		}
	}
</script>


<style scoped lang="less">
	@import '../styles/variable.less';
	.mainnav-wrap{
		.container{
			.mainnav-list{
				.mainnav-item{
					height: 62px;
					&:first-child{
						margin-top: 10px;
					}
					.link{
						padding: 15px 5px 5px;
						color: #4a5568;
						text-align: center;
						border-right: 2px solid #fff;
						&.active{
							background: rgba(16,142,233,.05);
    						border-right: 2px solid #108ee9;
    						color: #108ee9;
						}
						.icon{
							margin-bottom: 5px;
							i{
								font-size: 20px;
							}
						}
						.name{
							text-align: center;
						}
					}
				}
			}
		}
	}
</style>	
	