<template>
	<div class="maincontent-wrap wf hf">
		<div class="maincontent-inner clearfix hf wf">
			<div class="left-main fl hf clearfix" :style="leftmainStyles">
				<div class="second-menu-container fl">
					<second-level-menu></second-level-menu>
				</div>
				
				<div class="second-content-container fl hf" :style="secondContentContainerStyles">
					<router-view></router-view>
				</div>
			</div>
			<div class="right-tip fr hf" :style="rightTipStyles">
				
			</div>
		</div>
	</div>
</template>


<script>
	import Bus from './bus'
	import secondLevelMenu from './second-level-menu'
	export default{
		data() {
			return {
			}
		},
		components: {
			secondLevelMenu
		},
		computed: {
			leftmainStyles() {
				return {
					width: `calc( 100% - ${this.rightTipWidth}px )`
				}
			},
			rightTipStyles() {
				return {
					width: `${this.rightTipWidth}px`
				}
			},
			tipMenuFlag() {
				return Bus.tipMenuFlag
			},
			rightTipWidth() {
				return Bus.tipMenuFlag ?  240 : 0
			},
			secondContentContainerStyles() {
				return {
					width: `calc( 100% - 200px )`
				}
			}
		},
		mounted() {
			
		}
	}
</script>


<style lang="less">
	@import '../styles/variable.less';
	.maincontent-wrap{
		background-color: #fff;
		padding-top: 28px;
		padding-bottom: 20px;
		overflow: hidden;
		.maincontent-inner{
			.left-main{
				padding: 0 20px 0 0;
				transition: .3s width ease;
				-webkit-transition: .3s width ease;
				.second-menu-container{
					width: 200px;
				}
				.second-content-container{
					padding-left: 20px;
				}
			}
			.right-tip{
				border-left: 1px solid #f2f2f2;
				transition: .3s width ease;
				-webkit-transition: .3s width ease;
			}
		}
	}
</style>	