<template>
	<div class="nav-menu-wrap hf wf clearfix">
		<div class="left-nav fl hf ib">
			<!-- <ul class="clearfix hf">
				<li class="left-nav-item hf ib fr"> 
						<Dropdown trigger="click" :transfer="true" @on-click="choseLanguage">
							<a href="javascript:;" class="ib hf wf link">
								{{currentLanguage}}
								<Icon type="ios-arrow-down" class="pr" style="top:2px;"></Icon>
							</a>
							<DropdownMenu slot="list">
								<DropdownItem name="JavaScript">JavaScript</DropdownItem>
								<DropdownItem name="NodeJs">NodeJs</DropdownItem>
								<DropdownItem name="Python">Python</DropdownItem>
								<DropdownItem name="React">React</DropdownItem>
								<DropdownItem name="Vuejs">Vuejs</DropdownItem>
							</DropdownMenu>
						</Dropdown>
				</li>
			</ul> -->	
		</div>
		<div class="right-nav fr hf ib">
			<ul class="clearfix hf">
				<li class="right-nav-item hf ib fr" @click="showTipMenu"> 
					<router-link :to="{name:'data-visualization'}" class="ib hf wf link" :class="informationClasses">
						<Icon type="information-circled" ></Icon>
					</router-link>
				</li>
				<li class="right-nav-item hf ib fr userinfo"> 
						<Dropdown trigger="click" :transfer="true">
								<a href="javascript:;" class="ib hf wf link">
										<span class="name mr10">何柳杰</span>
										<img src="https://media.ifanrusercontent.com/media/tavatar/36/f3/36f3588fffe3c7a03b3c288c157d1a5626710765.jpg" class="avatar mr10 pr" width="29" height="29" alt="">
										<Icon type="ios-arrow-down" class="pr"></Icon>
								</a>
							<DropdownMenu slot="list">
					            <DropdownItem><router-link to="/article/list">查看笔记</router-link></DropdownItem>
					            <DropdownItem><span style="color: #2d8cf0" @click="concatAuthor">联系我</span></DropdownItem>
					        </DropdownMenu>
						</Dropdown>
				</li>	
			</ul>
		</div>
	</div>
</template>

<script>
	import Bus from './bus'
	export default {
		name: 'navmenu',
		data(){
			return {
				currentLanguage: 'JavaScript'
			}
		},
		computed: {
			informationClasses() {
				return {
					['active']: Bus.tipMenuFlag
				}
			}
		},
		methods: {
			choseLanguage(language) {
				console.log(language)
				this.currentLanguage = language
			},
			showTipMenu() {
				Bus.tipMenuFlag = !Bus.tipMenuFlag
			},
			concatAuthor() {
				this.$Modal.success({
					width: 500,
					render: (h) => {
						return h('img',{
							attrs: {
								src: 'http://osbfr39w7.bkt.clouddn.com/IMG_1245.JPG',
								alt: '微信二维码'
							},
							style: {
								width: '100%'
							}
						})
					}
				})
			}
		}
	}
</script>


<style scoped lang="less">
	@import '../styles/variable.less';
	.nav-menu-wrap{
		.left-nav{
			padding: 0 20px;
			.left-nav-item{
				margin: 0 20px;
				.link{
					color:#4a5568;
					font-size: 15px;
					line-height: 54px;
					i{
						font-size: 20px;
					}
				}
			}
		}
		.right-nav{
			padding: 0 20px;
			.right-nav-item{
				margin: 0 20px;
				.link{
					color:#4a5568;
					line-height: 54px;
					&.active{
						color: #108ee9;
					}
					i{
						font-size: 20px;
					}
				}
				.userinfo{
					padding: 10px 0;
				}
				.avatar{
					border-radius: 50%;
					top: 10px;
				}
				.name{
					color: #4a5568;
				}
				.ivu-icon-ios-arrow-down{
					top: 2px;
				}
			}
		}
	}
</style>	