<template>
	<div class="prdview-wrap pr" :style="prdviewStyles" v-if="viewFlag">
		<div class="gallery-img-box pa" :style="imgBoxStyles" @click="hideView">
			<img :src="gallerylist[currentIndex]['src']" class="gallery-img" alt=""
			  ref="galleringImg" @click.stop>
		</div>
		<div class="gallery-list pa" :style="galleryListStyles" v-bar="{preventParentScroll: true}">
			<ul>
				<li class="gallery-item" v-for="(g, i) in gallerylist" :key="i" @click="viewImage(i)" :class="{'active': i === currentIndex}">
					<img :src="g.src" alt="" width="100%" height="100%"> 
				</li>
			</ul>
		</div>
		<div class="gallery-details pa" :style="detailsStyles">
			<span class="text">
				<span>{{currentIndex + 1}}/{{gallerylist.length}}</span>	
			</span>
			<div class="action pa hf">
				<a href="javascript:;" class="ib hf" @click="blowUp">
					<Icon type="plus"></Icon>
				</a>
				<a href="javascript:;" class="ib hf" @click="shrink">
					<Icon type="android-remove"></Icon>
				</a>
			</div>
		</div>
	</div>
</template>



<script>
	const BLOW_BASE = 160
	export default{
		name: 'prdview',
		props: {
			currentUrl: {
				type: String,
				default: ''
			},
			value: {
				type: Boolean,
				default: false
			},
			imglist: {
				type: Array,
				default: () => {
					return []
				}
			}
		},
		data() {
			return {
				currentImageUrl: '',
				viewFlag: false,
				currentIndex: 0,
				screenHeight: 0,
				gallerylist: []
			}
		},
		mounted(){
			let vm = this
			this.screenHeight = window.innerHeight
			window.addEventListener('resize', () => {
				vm.reSetHeight()
			}, false)
		},
		methods: {
			reSetHeight() {
				this.screenHeight = window.innerHeight
			},
			galleryImgStyles() {
				let w = 610
				if (this.gallerylist[this.currentIndex]['scale'] < 1) {
					w = 367
				}
				return {
					width: `${w}px`
				}
			},
			blowUp() {
				const w = this.$refs.galleringImg.clientWidth
				if (BLOW_BASE + w > 2000) {
					// console.log('stop')
				} else {
					this.$refs.galleringImg.style.width =  `${BLOW_BASE + w}px`
				}
			},
			shrink(){
				const w = this.$refs.galleringImg.clientWidth
				if (w - BLOW_BASE < 64) {
					// console.log('stop')
				} else {
					this.$refs.galleringImg.style.width =  `${ w - BLOW_BASE}px`
				}
			},
			viewImage(i) {
				this.currentIndex = i
				if (this.gallerylist[this.currentIndex]['scale'] < 1) {
					this.$refs.galleringImg.style.width =  `367px`
				} else if(this.gallerylist[this.currentIndex]['scale'] === 1) {
					this.$refs.galleringImg.style.width =  `610px`
				}
			},
			hideView() {
				this.viewFlag = false
				this.$emit('input', false)
			}
		},
		computed: {
			prdviewStyles() {
				return {
					height: `${this.screenHeight}px`
				}
			},
			imgBoxStyles() {
				return {
					width: `calc( 100% - 120px )`
				}
			},
			detailsStyles() {
				return {
					width: `calc( 100% - 120px )`
				}
			},
			galleryListStyles(){
				return {
					height: `${this.screenHeight}px`
				}
			}
		},
		watch: {
			imglist() {
				this.gallerylist = this.imglist
			},
			value() {
				this.viewFlag = this.value
			},
			currentUrl() {
				this.currentImageUrl = this.currentUrl
				for (let i = 0, len = this.gallerylist.length; i < len; i++) {
					if (this.gallerylist[i]['src'] === this.currentImageUrl) {
						this.currentIndex = i
						break
					}
				}
			}
		}
	}
</script>




<style scoped lang="less">
	@import '../styles/variable.less';

	.prdview-wrap{
		position: fixed;
		top: 0;
	    left: 0;
	    z-index: 100000000;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,.6);
    	display: block;	
    	.gallery-img-box{
    		left: 120px;
    		right:0;
    		top: 0;
    		bottom: 0;
    		margin: auto;
    		cursor: pointer;
    		-webkit-transition: all .2s ease-out;
    		-moz-transition: all .2s ease-out;
    		transition: all .2s ease-out;
    		.gallery-img{
    			max-width: 90%;
			    height: auto;
			    margin: auto;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    position: absolute;
			    background: #fff;
			    -webkit-box-shadow: 0 0 28px rgba(0,0,0,.2);
			    -moz-box-shadow: 0 0 28px rgba(0,0,0,.2);
			    -ms-box-shadow: 0 0 28px rgba(0,0,0,.2);
			    -o-box-shadow: 0 0 28px rgba(0,0,0,.2);
			    box-shadow: 0 0 28px rgba(0,0,0,.2);
    		}
    	}
    	.gallery-list{
    		width: 120px;
    		right: 0;
    		top: 0;
    		bottom: 0;
    		height: auto;
		    overflow-y: auto;
		    overflow-x: hidden;
		    background-color: #0a0a0a;
		    -webkit-box-shadow: 0 0 18px rgba(0,0,0,.6);
		    -moz-box-shadow: 0 0 18px rgba(0,0,0,.6);
		    -ms-box-shadow: 0 0 18px rgba(0,0,0,.6);
		    -o-box-shadow: 0 0 18px rgba(0,0,0,.6);
		    box-shadow: 0 0 18px rgba(0,0,0,.6);
		    ul{
		    	height: auto;
		    }
    		.gallery-item{
    			margin: 10px;
			    width: 90px;
			    height: 60px;
			    overflow: hidden;
			    border: 1px solid hsla(0,0%,100%,.3);
			    cursor: pointer;
			    &.active{
			    	border: 1px solid #fff;
			    }
    		}
    	}
    	.gallery-details{
    		height: 50px;
    		left: 120px;
    		bottom: 0;
    		right: 0;
    		font-size: 16px;
		    color: #fff;
		    text-align: left;
		    line-height: 50px;
		    background-color: rgba(34,34,34,.88);
		    overflow: hidden;
		    .text{
		    	font-size: 16px;
		    	padding-left: 20px;
    			font-weight: 700;
		    }
		    .action{
		    	right:0;
		    	top: 0;
		    	a{
		    		width: 66px;
		    		padding: 0 10x;
		    		text-align: center;
		    		i{
		    			color:#ccc;
		    			font-size: 22px;
		    			position: relative;
		    			top: 4px;
		    		}
		    		&:hover{
		    			background: #000;
		    			i{
		    				color: #fff;
		    			}
		    		}
		    	}
		    }
    	}
	}
</style>	