<template>
	<div class="second-menu-wrap hf" ref="secondMenuBox">
		<h3 class="title tc">{{secondMenuTitle}}</h3>
		<section v-bar="{preventParentScroll: true}" class="box" :style="boxStyles">
			<!-- :active-name="calcActiveName(0)"  -->
			
			<!--
			<Menu style="width: 200px;" accordion 
				:open-names="initOpenMenu(0)"
				@on-select="switchSecondMenu"
				ref="menuTree">
                <Submenu :name="menu.name" v-for="(menu,index) in secondMenuList" :key="menu.routername" v-if="menu.children && menu.children.length">
                    <template slot="title">
                        <Icon :type="menu.icon"></Icon>
                        {{menu.value}}
                    </template>
                    <MenuItem 
                    	v-if="menu.children && menu.children.length" 
                    	v-for="(node, k) in menu.children" 
                    	:key="k" 
                    	:name="node.name"
                    >{{node.value}}</MenuItem>
                </Submenu>
                <MenuItem :name="menu.name" v-else>
	                <Icon :type="menu.icon"></Icon>
	                {{menu.value}}
	            </MenuItem>
            </Menu>
			-->
			
			<ul style="width: 200px" class="menu-list">
				<li v-for="(menu,index) in secondMenuList" :key="menu.routername" class="menu-item">
					<a href="javascript:;" class="ib wf hf menu-link" :class="{['active']: !menu.children && menu.active}"  @click="switchSecondMenu(menu)">
						<span class="fb">{{menu.value}}</span><Icon  class="fb" :type="menu.opened ? 'ios-arrow-down' : 'ios-arrow-right'"  v-if="menu.children && menu.children.length"></Icon>
						<ul class="t-menu-list" v-show="menu.opened">
							<li class="t-menu-item hf" v-for="(node, k) in menu.children" :key="k">
								<a href="javascript:;" :class="{['active']: node.active}"  class="ib wf t-menu-link" @click="switchThreeMenu($event, menu,node)">
									{{node.value}}
								</a>
							</li>
						</ul>
					</a>
				</li>
			</ul>

		</section>
	</div>
</template>

<script>
	import Bus from './bus'
	import $ from 'jquery'
	import Utils from '../libs/utils'
	export default {
		name: 'second-level-menu',
		data() {
			return {
				screenHeight: 0,
				defaultSelectMenuFlag: false
			}
		},
		methods: {
			switchThreeMenu(e, menu, child) {
				e.stopPropagation();
				menu.children.forEach(c => {
					c.active = false
				})
				child.active = true
				this.$router.push({
					name: child.routername
				})
			},
			calcActiveName(index) {
				let name = ''
				let firstMenu = this.secondMenuList[index]
				if (typeof firstMenu.children === 'undefined') {
					name = firstMenu['name']
				} else {
					name = firstMenu['children'][index]['name']
				}
				return name;
			},
			initOpenMenu(index) {
				let name = ''
				let firstMenu = this.secondMenuList[index]
				if (typeof firstMenu.children !== 'undefined') {
					name = firstMenu['name']
				}
				return [name];
			},
			switchSecondMenu(menu) {
				if (menu.children && menu.children.length) {
					menu.opened = !menu.opened
				} else {
					Bus.mainnavlist[Bus.mainnavCurrentIndex]['menu'].forEach(menu => {
						menu.active = false
					})
					menu.active = true
					this.$router.push({
						name: menu.routername
					})
				}
			},
			_findRouterNameByName(name) {
				let routername = '';

				function check(list) {
					for (let i = 0, len = list.length; i < len; i++) {
						let item = list[i]
						if (item.name === name) {
							routername = item.routername
							break;
						}
						if (typeof item.children !== 'undefined') {
							check(item.children)
						}
					}
				}
				check(this.secondMenuList)
				
				return routername === '' ? false : routername
			}
		},
		computed: {
			secondMenuList() {
				return Bus.mainnavlist[Bus.mainnavCurrentIndex]['menu']
			},
			secondMenuTitle() {
				return Bus.mainnavlist[Bus.mainnavCurrentIndex]['name']
			},
			boxStyles() {
				return {
					height: `${this.screenHeight - 120}px`
				}
			}
		},
		mounted() {
			this.$nextTick(() => {
				this.screenHeight = window.innerHeight
			})
		},
		watch: {
			$route(to, from){
				// if (from.meta.parent !== to.meta.parent) {
				// 	this.defaultSelectMenuFlag = true
				// 	this.$nextTick(() => {
				// 		const $items = Array.from(this.$refs.secondMenuBox.querySelectorAll('.ivu-menu-item'))
				// 		$items.forEach(dom => {
				// 			$(dom).removeClass('ivu-menu-item-active')
				// 		})
				// 		$($items[0]).addClass('ivu-menu-item-active')
				// 	})
				// } else {
				// 	this.defaultSelectMenuFlag = false
				// }
			}
		}
	}
</script>


<style lang="less">
	@import '../styles/variable.less';
	.second-menu-wrap{
		border-right: 1px solid #f2f2f2;
		overflow: hidden;
		.box{
			padding: 10px 0;
		}
		.menu-list{
			.menu-item{
				font-size: 14px;
				.menu-link{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					flex-wrap: wrap;
					padding: 14px 10px;
					color: #4a5568;
					&.active{
						background: rgba(16,142,233,.05);
    					border-right: 2px solid #108ee9;
    					color: #108ee9;
					}
					.t-menu-list{
						position: relative;
						z-index: 100;
						width: 200px;
						.t-menu-item{
							.t-menu-link{
								padding: 10px 6px;
								color: #4a5568;
								&.active{
									background: rgba(16,142,233,.05);
									border-right: 2px solid #108ee9;
									color: #108ee9;
								}
							}
						}
					}
				}
			}
		}
	}
</style>