<template>
	<transition name="slide">
		<div class="slidebar-wrap" :style="slidebarStyles" v-show="showSlideBarFlag">
			<div class="body hf">
				<div class="directory wf hf">
					<div class="title clearfix">
						<span class="ib fl">目录</span>
						<a href="javascript:;" class="ib fr pr" @click="hideSliderbar">
							<Icon type="ios-close-empty" class=" pr"></Icon>
						</a>
					</div>
					<ul class="list">
						<li class="item" v-for="(o,i) in directorylist" :key="i"
							:class="{step2: o.tagName==='h3'}" @click="anchorClick(o.title)">
							<a :href="`#${o.title}`" class="ib text pr" >{{o.title}}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</transition>
</template>


<script>
	import Bus from '../components/bus'
	export default {
		name: 'slidebar',
		props: {
			list: {
				type: Array,
				default: function(){
					return []
				}
			}
		},
		data() {
			return {
				directorylist: []
			}
		},
		computed: {
			slidebarStyles() {
				let w = (window.innerWidth - 816)/2
				if (w < 100) {
					w = 0
				}
				return {
					width: `${w}px`
				}
			},
			showSlideBarFlag() {
            	return Bus.directoryFlag
            }
		},
		methods: {
			anchorClick(id) {
				Bus.$emit('on-chick-anchor', id.replace(/\s/g, '_'))
			},
			hideSliderbar() {
				Bus.directoryFlag = !Bus.directoryFlag
			}
		},
		mounted() {
			
		},
		watch: {
			list(v) {
				this.directorylist = v
			}
		}
	}
</script>


<style scoped lang="less">
	@import '../styles/variable.less';
	.slidebar-wrap{
	    position: fixed;
	    right: 0px;
	    top: 96px;
	    bottom: 0;
	    min-height: 150px;
	    border-bottom: none;
	    font-size: 12px;
	    z-index: 100;
	    box-sizing: border-box;
	    padding-top: 80px;
	    .body{
	    	width: 80%;	    
	    }
	    .directory{
	    	text-align: left;
    		color: #ccc;
    		padding-left: 20px;
    		.title{
    			font-size: 12px;
			    color: #333;
			    border-bottom: 1px solid #ddd;
			    padding-bottom: 8px;
			    .ivu-icon-ios-close-empty{
			    	font-size: 16px;
			    	top:4px;
			    }
    		}
    		.list{
    			height: calc(100% - 154px);
			    padding: 16px 12px 0;
			    box-sizing: border-box;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    overflow-y: auto;
			    overflow-x: hidden;
			    .item{
			    	position: relative;
				    padding: 2px 0;
				    border-left: 1px solid #ddd;
				    &.step2{
				    	padding-left: 45px;
				    }
				    a:hover{
				    	transition: all .5s ease;
				    	-webkit-transition: all .5s ease;
				    	color: #333;
				    }
				    .text{
					    color: #7d7d7d;
					    margin-left: 10px;
					    cursor: pointer;
					    &:before{
					    	content: "\25CF";
						    position: absolute;
						    top: 0px;
    						left: -14px;
						    color: #7d7d7d;
						    font-family: Times New Roman;
					    }
				    }
			    }
    		}
	    }
	}
</style>	