<template>
	<div class="cross-wrap">
		<Button type="primary" @click="jsonp" :loading="loading">JSONP跨域获取信息</Button>
		<code>{{ jsonpData }}</code>
		<!-- <iframe src="http://www.liujack.com/#/cross-domain" class="mt10" frameborder="0" width="100%" height="100%" id="mIframe"></iframe>
		<Button type="primary" @click="hash" v-if="hashFlag">Hash改变方式</Button>
		<Button type="primary" @click="hashAgain" v-if="!hashFlag">再来一次</Button> -->
		
		<i-code lang="javascript" slot="code">{{ code.jsonp }}</i-code>
		
	</div>
</template>


<script>
	import axios from 'axios'
	import iCode from '../../../components/code';
	export default{
		name: 'cross-domain',
		data() {
			return {
				jsonpData: '',
				loading: false,
				hashFlag: true,
				crossDomainInfo: 'HAPPY',
				code: {
					jsonp: `
methods: {
	jsonp() {
		this.loading = true
		let script = document.createElement('script')
		script.type = 'text/javascript'
		script.src = 'http://api.liujack.com/blog/jsonp?callback=onBack'
		document.head.appendChild(script)
	}

	onBack(d) {
		this.jsonpData = d
		this.loading = false
	}	
},				
mounted() {
	window.onBack = this.onBack
}
					`
				}
			}
		},
		components: {
			iCode
		},
		methods: {
			jsonp() {
				this.loading = true
				let script = document.createElement('script')
				script.type = 'text/javascript'
				script.src = 'http://api.liujack.com/blog/jsonp?callback=onBack'
				document.head.appendChild(script)
			},
			onBack(d) {
				this.jsonpData = d
				this.loading = false
			},
			hash() {
				let $if = document.getElementById('mIframe')
				$if.src = $if.src + '#heliujie'
				this.hashFlag = false
			},
			hashAgain() {
				let vm = this
				let $if = document.getElementById('mIframe')
				$if.src = 'http://www.liujack.com/#/cross-domain'
				setTimeout(() => {
					vm.hashFlag = true
				}, 1000)
			},
			onHashChangeBack(m) {
				this.$Message.info(m)
			}
		},
		mounted() {
			window.onBack = this.onBack
			// window.onHashChangeBack = this.onHashChangeBack
		}
	}
</script>



<style lang="less">
	@import '../../../styles/variable.less';
	.cross-wrap{
		iframe{
			height: 500px;
		}
	}
</style>