<template>
	<div class="chart-wrap" ref="chartScrollParent" :style="wrapStyles">
		<div>
			
			<Row class="hf pr">

				<a href="http://www.chartjs.org/samples/latest/" target="_blank" class="ib pa declaration">示例源于Chart.js官网</a>

				<Tabs v-model="currentTab" class="hf" @on-click="tabClick">
			        <TabPane label="Boundaries" name="boundaries">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/area/line-boundaries.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			         <TabPane label="Datasets" name="datasets">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/area/line-datasets.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="Stacked" name="stacked">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/area/line-stacked.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="Radar" name="radar">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/area/radar.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>

			    </Tabs>

			</Row>

			<div>

				<h2 class="title">JavaScript代码:</h2>
				<i-code v-show="currentTab==='datasets'" lang="javascript" slot="code">{{ code.datasets }}</i-code>
				<i-code v-show="currentTab==='boundaries'" lang="javascript" slot="code">{{ code.boundaries }}</i-code>
				<i-code v-show="currentTab==='stacked'" lang="javascript" slot="code">{{ code.stacked }}</i-code>
				<i-code v-show="currentTab==='radar'" lang="javascript" slot="code">{{ code.radar }}</i-code>
				
			</div>
		
		</div>
	</div>
</template>


<script>
	// import Chart from 'chart.js'
	import iCode from '../../../../components/code'
	import Code from '../../../../code/chartjs'
	import Bus from '../../../../components/bus'
	export default {
		data() {
			return {
				currentTab: "boundaries",
			    code: Code,
			    screenHeight: 0
			}
		},
		created() {
			
		},
		computed: {
			wrapStyles() {
				return {
					height: `${this.screenHeight - 80}px`
				}
			}
		},
		methods: {
			tabClick(name) {
				this.currentTab = name
			}
		},
		components: {
			iCode
		},
		mounted() {
			this.$nextTick(() => {
				this.screenHeight = window.innerHeight
			})
		}
	}
</script>
	
<style lang="less">
	@import '../../../../styles/variable.less';

	.chart-wrap{
		height: 700px;
		overflow-y: scroll;
		.ivu-tabs-content {
			height: 100%;
		}
		.ivu-tabs-tabpane{
		}
		.declaration{
			right: 10px;
			top: 0;
			z-index: 100;
		}
		.ivu-tabs-content{
			height: 600px !important;
		}
	}

</style>	