<template>
	<div class="chart-wrap" ref="chartScrollParent" :style="wrapStyles">
		<div>
			<Row class="hf pr">

				<a href="http://www.chartjs.org/samples/latest/" target="_blank" class="ib pa declaration">示例源于Chart.js官网</a>

				<Tabs v-model="currentTab" class="hf" @on-click="tabClick">
			        <TabPane label="垂直" name="vertical">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/bar/vertical.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			        <TabPane label="水平" name="horizontal">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/bar/horizontal.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			        <TabPane label="多轴" name="multiAxis">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/bar/multi-axis.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			        <TabPane label="堆叠" name="stacked">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/bar/stacked.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			         <TabPane label="堆叠组" name="stackedGroud">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/bar/stacked-group.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>


			    </Tabs>

			</Row>

			<div >
				<h2 class="title">JavaScript代码:</h2>
				<i-code v-show="currentTab==='vertical'" lang="javascript" slot="code">{{ code.vertical }}</i-code>
				<i-code v-show="currentTab==='horizontal'" lang="javascript" slot="code">{{ code.horizontal }}</i-code>
				<i-code v-show="currentTab==='multiAxis'" lang="javascript" slot="code">{{ code.multiAxis }}</i-code>
				<i-code v-show="currentTab==='stacked'" lang="javascript" slot="code">{{ code.stacked }}</i-code>
				<i-code v-show="currentTab==='stackedGroud'" lang="javascript" slot="code">{{ code.stackedGroud }}</i-code>

			</div>
		</div>
		
	</div>
</template>


<script>
	// import Chart from 'chart.js'
	import iCode from '../../../../components/code'
	import Code from '../../../../code/chartjs'
	import Bus from '../../../../components/bus'
	export default {
		data() {
			return {
				currentTab: "vertical",
			    code: Code,
			    screenHeight: 0
			}
		},
		created() {
			
		},
		computed: {
			wrapStyles() {
				return {
					height: `${this.screenHeight - 80}px`
				}
			}
		},
		methods: {
			tabClick(name) {
				this.currentTab = name
			}
		},
		components: {
			iCode
		},
		mounted() {
			this.$nextTick(() => {
				this.screenHeight = window.innerHeight
			})
		}
	}
</script>
	
<style lang="less">
	@import '../../../../styles/variable.less';

	.chart-wrap{
		height: 700px;
		overflow-y: scroll;
		.ivu-tabs-content {
			height: 100%;
		}
		.ivu-tabs-tabpane{
		}
		.declaration{
			right: 20px;
			top: 0;
			z-index: 100;
		}
		.ivu-tabs-content{
			height: 600px !important;
		}
	}

</style>	