<template>
	<div class="chart-wrap" ref="chartScrollParent" :style="wrapStyles">
		<div>
			
			<Row class="hf pr">

				<a href="http://www.chartjs.org/samples/latest/" target="_blank" class="ib pa declaration">示例源于Chart.js官网</a>

				<Tabs v-model="currentTab" class="hf" @on-click="tabClick">
			        <TabPane label="基本" name="vertical">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/line/basic.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			        <TabPane label="多轴" name="lineMultiAxis">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/line/multi-axis.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			        <TabPane label="阶梯" name="stepped">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/line/stepped.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="Interpolation" name="Interpolation">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/line/interpolation-modes.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
			        <TabPane label="LineStyle" name="lineStyles">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/line/line-styles.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="PointStyle" name="pointStyles">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/line/point-styles.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>

			    </Tabs>

			</Row>

			<div>

				<h2 class="title">JavaScript代码:</h2>
				<i-code v-show="currentTab==='vertical'" lang="javascript" slot="code">{{ code.linebase }}</i-code>
				<i-code v-show="currentTab==='lineMultiAxis'" lang="javascript" slot="code">{{ code.lineMultiAxis }}</i-code>
				<i-code v-show="currentTab==='stepped'" lang="javascript" slot="code">{{ code.stepped }}</i-code>
				<i-code v-show="currentTab==='Interpolation'" lang="javascript" slot="code">{{ code.interpolation }}</i-code>
				<i-code v-show="currentTab==='lineStyles'" lang="javascript" slot="code">{{ code.lineStyles }}</i-code>
				<i-code v-show="currentTab==='pointStyles'" lang="javascript" slot="code">{{ code.pointStyles }}</i-code>
				
			</div>
		
		</div>
	</div>
</template>


<script>
	// import Chart from 'chart.js'
	import iCode from '../../../../components/code'
	import Code from '../../../../code/chartjs'
	import Bus from '../../../../components/bus'
	export default {
		data() {
			return {
				currentTab: "vertical",
			    code: Code,
			    screenHeight: 0
			}
		},
		created() {
			
		},
		computed: {
			wrapStyles() {
				return {
					height: `${this.screenHeight - 80}px`
				}
			}
		},
		methods: {
			tabClick(name) {
				this.currentTab = name
			}
		},
		components: {
			iCode
		},
		mounted() {
			this.$nextTick(() => {
				this.screenHeight = window.innerHeight
			})
		}
	}
</script>
	
<style lang="less">
	@import '../../../../styles/variable.less';

	.chart-wrap{
		height: 700px;
		overflow-y: scroll;
		.ivu-tabs-content {
			height: 100%;
		}
		.ivu-tabs-tabpane{
		}
		.declaration{
			right: 20px;
			top: 0;
			z-index: 100;
		}
		.ivu-tabs-content{
			height: 600px !important;
		}
	}

</style>	