<template>
	<div class="chart-wrap" ref="chartScrollParent" :style="wrapStyles">
		<div>
			
			<Row class="hf pr">

				<a href="http://www.chartjs.org/samples/latest/" target="_blank" class="ib pa declaration">示例源于Chart.js官网</a>

				<Tabs v-model="currentTab" class="hf" @on-click="tabClick">
			        <TabPane label="Scatter" name="scatterBase">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/scatter/basic.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="MultiAxis" name="multiAxis">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/scatter/multi-axis.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="Doughnut" name="doughnut">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/doughnut.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="Pie" name="pie">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/pie.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					<TabPane label="ComboBarLine" name="comboBarline">
			        	<iframe src="http://www.chartjs.org/samples/latest/charts/combo-bar-line.html" width="100%" height="100%" frameborder="0"></iframe>
			        </TabPane>
					
			    </Tabs>

			</Row>

			<div>

				<h2 class="title">JavaScript代码:</h2>
				<i-code v-show="currentTab==='scatterBase'" lang="javascript" slot="code">{{ code.scatterBase }}</i-code>
				<i-code v-show="currentTab==='multiAxis'" lang="javascript" slot="code">{{ code.scatterMultiAxis }}</i-code>
				<i-code v-show="currentTab==='doughnut'" lang="javascript" slot="code">{{ code.doughnut }}</i-code>
				<i-code v-show="currentTab==='pie'" lang="javascript" slot="code">{{ code.pie }}</i-code>
				<i-code v-show="currentTab==='polarArea'" lang="javascript" slot="code">{{ code.polarArea }}</i-code>
				<i-code v-show="currentTab==='comboBarline'" lang="javascript" slot="code">{{ code.comboBarline }}</i-code>
				
			</div>
		
		</div>
	</div>
</template>


<script>
	// import Chart from 'chart.js'
	import iCode from '../../../../components/code'
	import Code from '../../../../code/chartjs'
	import Bus from '../../../../components/bus'
	export default {
		data() {
			return {
				currentTab: "scatterBase",
			    code: Code,
			    screenHeight: 0
			}
		},
		created() {
			
		},
		computed: {
			wrapStyles() {
				return {
					height: `${this.screenHeight - 80}px`
				}
			}
		},
		methods: {
			tabClick(name) {
				this.currentTab = name
			}
		},
		components: {
			iCode
		},
		mounted() {
			this.$nextTick(() => {
				this.screenHeight = window.innerHeight
			})
		}
	}
</script>
	
<style lang="less">
	@import '../../../../styles/variable.less';

	.chart-wrap{
		height: 700px;
		overflow-y: scroll;
		.ivu-tabs-content {
			height: 100%;
		}
		.ivu-tabs-tabpane{
		}
		.declaration{
			right: 20px;
			top: 0;
			z-index: 100;
		}
		.ivu-tabs-content{
			height: 600px !important;
		}
	}

</style>	