<template>
	<div class="home-wrap hf">
		<div class="main-container pr clearfix hf">
			<section class="fl left-box hf pr">
				<div class="logo pa"><router-link class="ib hf wf" to="/">IIU</router-link></div>
				<main-nav></main-nav>
			</section>
			<section class="fl right-box hf" :style="rightBoxStyles">
				<div class="right-top-box wf">
					<nav-menu></nav-menu>	
				</div>
				<div class="right-content-box wf" :style="rightContentBoxStyles">
					<main-content>
						<keep-alive>
							<router-view</router-view>
						</keep-alive>
					</main-content>
				</div>
			</section>
		</div>
	</div> 
</template>


<script>
	import MainNav from '../../components/main-nav'
	import MainContent from '../../components/main-content'
	import NavMenu from '../../components/nav-menu'
	import Bus from '../../components/bus'
	export default {
		name: 'plugHome',
		data () {
			return {

			}
		},
		computed: {
			rightBoxStyles() {
				return {
					width: `calc( 100% - 80px )`
				}
			},
			rightContentBoxStyles() {
				return {
					height: `calc( 100% - 54px )`
				}
			}
		},
		mounted() {
			// Bus.mainnavCurrentIndex = window.localStorage.getItem('MAIN_MODULE_INDEX') || 0
		},
		components: {
			MainNav,
			MainContent,
			NavMenu
		}
	}
</script>


<style lang="less">
	@import '../../styles/variable.less';
	.home-wrap{
		overview: hidden;
		background-color: #fff;
		.main-container{
			.left-box{
				padding-top: 69px;
				width: 80px;
				.logo{
					left:0;
					top: 0;
					width: 80px;
					height: 55px;
					border-bottom: 1px solid #f0f0f0;
					a{
						font-size: 28px;
						font-weight: bolder;
						text-align: center;
						line-height: 55px;
					}
				}
			}
			.right-box{
				box-shadow: 0 2px 3px 0 rgba(99,99,99,.15); 
			}
			.right-top-box{
				height: 54px;
			}
			.right-content-box{
				background-color: #f0f0f0;
				padding: 10px;
				padding-bottom: 0;
			}
		}
	}
</style>