<template>
	<div>
		<i-container :widthFlag="false">
				<router-view></router-view>
		</i-container>
	</div>
</template>

<script>
import iContainer from '../../components/container'
	export default {
		name: 'plugIndex',
		data () {
			return {

			}
		},
		components: {
			iContainer
		}
	}
</script>

